<div class="ui large menu">
    <%= link_to "Home", root_path, class: "item" %>

    <%= link_to "ChatRoom", messages_path, class: "item" %>

    <% if logged_in? %>
      <%= link_to "Users", all_users_path,class:"item" %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Profile", e_path,class:"item" %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Create ChatRoom", room_path,class:"item" %>
    <% end %>

  <div class="right menu">
    <%# if flash[:success] %>
<!--      <div class="ui green message">-->
        <%#= flash[:success] %>
<!--      </div>-->
    <%# end %>
    <div class="ui dropdown item">
      <% if !logged_in? %>
        Account
      <% else %>
        <%= current_user.username %>
      <% end %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
          <%= link_to "Log out",logout_path,method: :delete,class:"item" %>
        <% end %>
      </div>
    </div>
    <% if !logged_in? %>
      <div class="item">
        <%= link_to "log in",login_path,class: "ui primary button" %>
      </div>
    <% end %>
  </div>
</div>
